{{define "main"}}
<div class="container column" style="margin-top: 90px;">
    <h2 class="text-start">{{ .Title }}</h2>
    <p class="text-start">Dibuat pada {{.Date.Format "01-02-2006"}}</p>
    <hr>
    <div>{{.Content}}</div>
    <hr style="margin-top: 80px;">
    <div class="container mt-5">
        <div id="disqus_thread"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://makrus-ali.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
                Disqus.</a></noscript>

    </div>
    <script id="dsq-count-scr" src="//makrus-ali.disqus.com/count.js" async></script>
</div>
{{end }}